@import './base.css';
@import "element-plus/theme-chalk/src/loading.scss";
@import "element-plus/theme-chalk/src/message.scss";
@import "element-plus/theme-chalk/src/message-box.scss";

a:hover {
    text-decoration: none;
}

/* 定义滚动条的宽度和高度 */
::-webkit-scrollbar {
    width: 4px;  /* 纵向滚动条的宽度 */
    height: 4px;  /* 纵向滚动条的宽度 */
}
 
/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 轨道颜色 */
    border-radius: 3px; /* 圆角 */
}
 
/* 定义滚动块的样式 */
::-webkit-scrollbar-thumb {
    background-color: #d2dae6; /* 滚动块颜色 */
    border-radius: 4px; /* 圆角 */
}
 
/* 定义滚动块悬浮时的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #afbaca; /* 悬浮时颜色 */
}

/* 隐藏滚动条的类 */
.hidden-scrollbar {
    /* 针对 WebKit 浏览器（如 Chrome 和 Safari） */
    ::-webkit-scrollbar {
        display: none;
    }
 
    /* 针对 Firefox */
    scrollbar-width: none; /* Firefox */
}


/* firefox */
/* 设置滚动条滑块和轨道的颜色 */
body {
    scrollbar-color: #d2dae6 #f1f1f1; /* 滑块颜色 轨道颜色 */
    scrollbar-width: thin; /* 滚动条宽度，可选值：auto、thin、none */
    font-size: 14px;
}

/* 搜索下拉条 */
body .el-autocomplete-suggestion li:hover {
    color: #ae782c;
    background-color: #fdf7ef;
}

/* loading样式 */
body .el-loading-spinner .el-loading-text {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    color: #000;
}
body .el-loading-spinner .path {
    stroke: #000;
    stroke-width: 3px;
}
/* 提示样式 el-message-box */
body .el-message {
    z-index: 9999 !important;
}

/* 对话框样式 el-message-box */
body .el-message-box .el-button:first-child {
    background-color: #f2f3f5;
    border: none;
}
body .el-message-box .el-button:first-child:hover {
    color: #89939e;
    background-color: #d8d9da;
}
body .el-message-box .el-button:last-child {
    background-color: #4378ff;
    border: none;
}
body .el-message-box .el-button:last-child:hover {
    background-color: #1f4cbd;
}
body .el-message-box__content {
    font-size: 16px;
    font-weight: 600;
}
body .el-message-box__title {
    font-size: 14px;
    font-weight: 600;
    color: #89939e;
}

.el-popover.el-popper  {
    z-index: 8888 !important;
    line-height: 1 !important;
}


.ellipsis {
    /* 1 强制文本一行显示 */
    white-space: nowrap;
    /* 2 超出部分隐藏 */
    overflow: hidden;
    /* 3 文本超出用省略号代替 */
    text-overflow: ellipsis;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    /* 弹性伸缩盒模型 */
    display: -webkit-box;
    /* 限制在一个块元素的文本行数 */
    -webkit-line-clamp: 2;
    /* 设置或检索伸缩盒对象的子元素的排列方式 */
    -webkit-box-orient: vertical;
}


.ellipsis3 {
    overflow: hidden;
    text-overflow: ellipsis;
    /* 弹性伸缩盒模型 */
    display: -webkit-box;
    /* 限制在一个块元素的文本行数 */
    -webkit-line-clamp: 3;
    /* 设置或检索伸缩盒对象的子元素的排列方式 */
    -webkit-box-orient: vertical;
}


