@import url(../../assets/style/reset.css);
@import url(../../assets/style/base.css);

@import '../../assets/style/viriables';

html {
    height: 100vh;
    background: url(./image/212.jpg) no-repeat;
    background-size: 100% 100%;
}

.container {
    height: 24.3056vw;
    width: 24.3056vw;
    background-color: $loginCOLOR;
    margin: 6.9444vw auto;
    border-radius: 40px;

    .login {
        display: flex;
        padding-top: 4.4722vw;
        padding-bottom: 11.7778vw;
        flex-basis: 0.6944vw;
        flex-direction: column;

        span {
            text-align: center;
            font-size: 22px;
        }

        input {
            margin: 0.6944vw 5.5556vw;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid $borderBCOLOR;
            color: $loginWRITECOLOR;
        }

        #submit {
            border: 0;
            border-radius: 10px;
            margin: 0 6.9444vw;
            margin-top: 1.3889vw;
            padding-bottom: 0.3472vw;
            text-align: center;
            background-image: linear-gradient(to right, $submitGRADIENTONE, $submitGRADIENTTWO, $submitGRADIENTTHREE);
            color: aliceblue;

            &:hover {
                cursor: pointer;
            }
        }

    }
}