@import url(../../assets/style/reset.css);
@import url(../../assets/style/base.css);
html {
  height: 100vh;
  background: url(./image/212.jpg) no-repeat;
  background-size: 100% 100%;
}

.container {
  height: 24.3056vw;
  width: 24.3056vw;
  background-color: rgba(59, 65, 63, 0.5);
  margin: 6.9444vw auto;
  border-radius: 40px;
}

.container .login {
  display: flex;
  padding-top: 4.4722vw;
  padding-bottom: 11.7778vw;
  flex-basis: 0.6944vw;
  flex-direction: column;
}

.container .login span {
  text-align: center;
  font-size: 22px;
}

.container .login input {
  margin: 0.6944vw 5.5556vw;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #999ba7;
  color: #4bc0c8;
}

.container .login #submit {
  border: 0;
  border-radius: 10px;
  margin: 0 6.9444vw;
  margin-top: 1.3889vw;
  padding-bottom: 0.3472vw;
  text-align: center;
  background-image: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  color: aliceblue;
}

.container .login #submit:hover {
  cursor: pointer;
}
