.formContainer {
    position: fixed;
    width: 400px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
}
.title {
    text-align: center;
    height: 70px;
    line-height: 60px;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: aqua;
}