

.site-head .main-nav {
    min-width: 1152px;
    height: 40px;
    background-color: #20BD9A;
}

.site-head .main-nav ul li {
    float: left;
    margin-right: 18px;
}

.site-head .main-nav ul li.have-menu {
    padding-right: 16px;
    position: relative;
}

.site-head .main-nav ul li a {
    line-height: 40px;
    color: white;
    font-size: 16px;
}

.site-head .main-nav ul li.have-menu::before {
    content: '';
    position: absolute;
    right: 0;
    top: 18px;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    border-bottom: none;
    border-top-color: white;
    transition: transform .5s ease 0s;
}

.site-head .main-nav ul li.have-menu:hover::before {
    transform: rotate(180deg);
}

.site-head .main-nav ul li .menu {
    position: absolute;
    top: 35px;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    padding: 10px;
    display: none;
}

.site-head .main-nav ul li:hover .menu {
    display: block;
}

.site-head .main-nav ul li .menu dl dd a:hover {
    color: orange;
}

.site-head .main-nav ul li .jjzyxmenu {
    width: 150px;
}

.site-head .main-nav ul li .gtymenu {
    width: 90px;
}

.site-head .main-nav ul li .ddwlmenu {
    width: 190px;
}

.site-head .main-nav ul li .sdlymenu {
    width: 160px;
}

.site-head .main-nav ul li .menu dl dt {
    font-size: 16px;
}

.site-head .main-nav ul li .menu dl dd a {
    color: #1C1F21;
    font-size: 12px;
    line-height: 20px;
}

.site-head .header-con {
    height: 36px;
    padding: 21px 0;
}

.site-head .header-con h1 {
    float: left;
    font-size: 24px;
    color: #20BD9A;
    line-height: 36px;
    font-weight: bold;
}

.site-head .header-con .soso-box {
    float: left;
    margin-left: 20px;
    width: 405px;
    padding-top: 2px;
}

.site-head .header-con .soso-box input {
    float: left;
    width: 361px;
    height: 28px;
    border: 1px solid #20BD9A;
    /* 分别按四个角进行设置 */
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    /* 取消默认的外线（外线是文本框特有的东西） */
    outline: none;
    padding-left: 10px;
}

.site-head .header-con .soso-box .btn {
    float: left;
    width: 32px;
    height: 30px;
    background-color: #20BD9A;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 0 4px 4px 0;
}


.hot-ads {
    margin: 32px 0;
}

.hot-ads ul li {
    float: left;
    width: 264px;
    height: 110px;
    margin-right: 32px;
}

.hot-ads ul li:last-child {
    margin-right: 0;
}

.xxsw {
    padding-top: 40px;
    height: 698px;
    background-color: #F7F7F7;
}

.xxsw .hd {
    margin-bottom: 32px;
}

.content-part h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1C1F21;
}

.xxsw .hd h2 {
    float: left;
}

.content-part em {
    position: relative;
    top: 20px;
    left: 10px;
    color: #1C1F21;
    float: left;
}

.xxsw ul li {
    float: left;
    width: 264px;
    height: 270px;
    margin-right: 32px;
    background: white;
    margin-bottom: 32px;
}

.xxsw ul li:nth-child(4n) {
    margin-right: 0;
}

.xxsw ul li .wordbox {
    padding: 15px;
    color: #1C1F21;
    font-size: 14px;
}

.xxsw ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
}


.ddwl {
    padding-top: 40px;
    height: 546px;
    background-color: #F7F7F7;
}

.ddwl h2 {
    float: left;
}

.ddwl .hd nav {
    width: 349px;
}

.ddwl .bd {
    padding-top: 32px;
}

.ddwl .bd .col {
    float: left;
    width: 364px;
    height: 480px;
    margin-right: 30px;
}

.ddwl .bd .col:last-child {
    margin-right: 0;
}

.ddwl .bd .bigpicbox {
    overflow: hidden;
    width: 364px;
    height: 270px;
    position: relative;
    margin-bottom: 30px;
}

.ddwl .bd .bigpicbox .info {
    position: absolute;
    width: 364px;
    height: 104px;
    background-color: rgba(0, 0, 0, .53);
    bottom: 0;
    left: 0;
    padding: 21px 17px 0;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
}

.ddwl .bd .bigpicbox .info .bottom {
    padding-top: 6px;
}

.ddwl .bd .bigpicbox .info .bottom .tag {
    float: left;
}

.ddwl .bd .bigpicbox .info .bottom .price {
    float: right;
}

.ddwl .bd .bigpicbox .info .bottom .price strong {
    color: #36DFBA;
}

.ddwl .bd .grid {
    width: 364px;
    height: 120px;
    background-color: white;
    margin-bottom: 30px;
}

.ddwl .bd .grid .picbox {
    float: left;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.ddwl .bd .grid .wordbox {
    float: left;
    width: 244px;
    height: 120px;
    padding: 26px 18px 0;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    font-size: 14px;
    color: #000;
}

.ddwl .bd .more-grid {
    width: 364px;
    background-image: linear-gradient(180deg, #FF6374 1%, #FF7368 98%);
}

.ddwl .bd .more-grid ul {
    padding-left: 19px;
}

.ddwl .bd .grid:hover,
.ddwl .bd .bigpicbox:hover,
.ddwl .bd .more-grid:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
}

.tsddty {
    height: 456px;
}

.tsddty .center-wrap {
    padding-top: 40px;
}

.tsddty .center-wrap h2 {
    text-align: center;
}

.tsddty .bd {
    padding-top: 32px;
}

.tsddty .bd ul li {
    float: left;
    width: 264px;
    height: 290px;
    margin-right: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.tsddty .bd ul li:last-child {
    margin-right: 0;
}

.tsddty .bd ul li .wordbox {
    padding: 16px 9px 0;
}

.tsddty .bd ul li .wordbox .proname {
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    height: 48px;
}

.tsddty .bd ul li .wordbox .score {
    font-size: 13px;
    color: #FA6400;
}

.tsddty .bd ul li .wordbox .comment {
    font-size: 13px;
    color: #000000;
}

.tsddty .bd ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
}

.zsjsdlx {
    height: 738px;
    background-color: #F7F7F7;
}

.zsjsdlx .hd em {
    float: left;
    width: 307px;
}

.zsjsdlx .hd nav {
    float: right;
    width: 85px;
}

.zsjsdlx .bd .more-grid {
    background-image: linear-gradient(180deg, #BD5EE8 0%, #832ABB 98%);
}

.zsjsdlx .bd .more-grid ul {
    padding-left: 41px;
}

.gtbzzy .hd nav {
    width: 157px;
}

.gtbzzy .bd .more-grid {
    background-image: linear-gradient(180deg, #41D8E9 0%, #3685EA 98%);
}

.gtbzzy .bd .more-grid ul {
    padding-left: 67px;
}

.big-grid.havehover .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    /* 总透明度 */
    opacity: 0;
    /* 过渡 */
    transition: opacity .4s ease 0s;
}

.big-grid.havehover:hover .mask {
    opacity: 1;
}

.big-grid.havehover .circle {
    position: absolute;
    top: -106px;
    left: 50%;
    margin-left: -53px;
    width: 106px;
    height: 106px;
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 18px;
    transition: top .5s ease 0s;
}

.big-grid.havehover .circle p {
    text-align: center;
}

.big-grid.havehover:hover .circle {
    top: 62px;
}

.big-grid.havehover .word {
    position: absolute;
    bottom: -100px;
    left: 10px;
    color: white;
    transition: bottom .5s ease 0s;
}

.big-grid.havehover:hover .word {
    bottom: 30px;
}

footer .part1 {
    height: 220px;
    background-color: #f7f7f7;
}

footer .part1 ul {
    padding-top: 36px;
}

footer .part1 ul li {
    float: left;
    border-right: 1px solid #1C1F21;
    padding: 0 30px;
    height: 16px;
    line-height: 16px;
}

footer .part1 ul li a {
    color: #1C1F21;
    font-size: 16px;
}

footer .part1 ul li:first-child {
    padding-left: 0;
}

footer .part1 ul li:last-child {
    border-right: none;
    padding-right: 0;
}

footer .part1 .dlbox {
    padding-top: 40px;
}

footer .part1 dl {
    width: 289px;
    float: left;
    padding-left: 75px;
    margin-right: 30px;
    position: relative;
}

footer .part1 dl:last-child {
    margin-right: 0;
}

footer .part1 dl dt {
    font-weight: bold;
    margin-bottom: 10px;
}

footer .part1 dl::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(../images/icons.png);
    left: 0;
}

footer .part1 dl dd {
    font-size: 14px;
}

footer .part1 dl.txfw::before {
    background-position: -150px -178px;
}

footer .part1 dl.ccsx::before {
    background-position: -150px -104px;
}

footer .part1 dl.axph::before {
    background-position: -150px -31px;
}

footer .part2 {
    height: 225px;
    background-color: #1C1F21;
}

footer .part2 .r1 {
    padding-top: 48px;
    color: white;
}

footer .part2 .r1 h2 {
    float: left;
    font-size: 46px;
}

footer .part2 .r1 .slogan {
    float: left;
    width: 532px;
    font-size: 14px;
    margin-left: 21px;
    position: relative;
    top: 14px;
}

footer .part2 .links {
    padding-top: 30px;
}

footer .part2 .links li {
    float: left;
    border-right: 1px solid white;
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}

footer .part2 .links li a {
    color: white;
}

footer .part2 .links li:first-child {
    padding-left: 0;
}

footer .part2 .links li:last-child {
    border-right: none;
}

footer .copyrights {
    color: white;
    padding-top: 20px;
    font-size: 14px;
}

footer .copyrights a {
    color: white;
}

.backtotop {
    position: fixed;
    bottom: 80px;
    right: 80px;
    width: 80px;
    height: 80px;
    background: #ccc;
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    color: #000;
    /* 隐藏元素 */
    display: none;
}

/* 独创证明 */
.one {
    position: absolute;
    top: 72px;
    right: 50%;
    margin-right: -588px;
    /* width: 1152px;
    margin: 0 auto; */
}

.one img {
    width: 169px;
}

.aa {
    /* float: left; */
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -576px;
    /* width: 1152px;
    margin: 0 auto; */
}


.aa img {
    height: 100%;
    width: 296px;
}